body {
    background-color:#3f481c;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#efa7c9;

}

nav li{
    color:#3f481c;
    list-style: none;
    margin: 0;
    padding: 10px;
    display: inline-block;
    justify-content: space-between;
    flex-direction: row;

}

nav ul {
    background-color:#efa7c9;
    border-radius: 15px;
}

.mainpage {
    text-align: center;
}

.about {
    background-color:#efa7c9;
    color:#3f481c;
    border-radius: 10px;
}